In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train = pd.read_csv('https://raw.githubusercontent.com/Data-Nova/spaceship_titanic_challenge/refs/heads/main/train.csv')
df_test = pd.read_csv('https://raw.githubusercontent.com/Data-Nova/spaceship_titanic_challenge/refs/heads/main/test.csv')

print(df_train.head())
print(df_test.head())

  PassengerId HomePlanet CryoSleep  Cabin  Destination   Age    VIP  \
0     0001_01     Europa     False  B/0/P  TRAPPIST-1e  39.0  False
1     0002_01      Earth     False  F/0/S  TRAPPIST-1e  24.0  False
2     0003_01     Europa     False  A/0/S  TRAPPIST-1e  58.0   True
3     0003_02     Europa     False  A/0/S  TRAPPIST-1e  33.0  False
4     0004_01      Earth     False  F/1/S  TRAPPIST-1e  16.0  False

   RoomService  FoodCourt  ShoppingMall     Spa  VRDeck               Name  \
0          0.0        0.0           0.0     0.0     0.0    Maham Ofracculy
1        109.0        9.0          25.0   549.0    44.0       Juanna Vines
2         43.0     3576.0           0.0  6715.0    49.0      Altark Susent
3          0.0     1283.0         371.0  3329.0   193.0       Solam Susent
4        303.0       70.0         151.0   565.0     2.0  Willy Santantines

   Transported
0        False
1         True
2        False
3        False
4         True
  PassengerId HomePlanet CryoSleep  Cabin  Destination   Age    VIP  \
0     0013_01      Earth      True  G/3/S  TRAPPIST-1e  27.0  False
1     0018_01      Earth     False  F/4/S  TRAPPIST-1e  19.0  False
2     0019_01     Europa      True  C/0/S  55 Cancri e  31.0  False
3     0021_01     Europa     False  C/1/S  TRAPPIST-1e  38.0  False
4     0023_01      Earth     False  F/5/S  TRAPPIST-1e  20.0  False

   RoomService  FoodCourt  ShoppingMall     Spa  VRDeck              Name
0          0.0        0.0           0.0     0.0     0.0   Nelly Carsoning
1          0.0        9.0           0.0  2823.0     0.0    Lerome Peckers
2          0.0        0.0           0.0     0.0     0.0   Sabih Unhearfus
3          0.0     6652.0           0.0   181.0   585.0  Meratz Caltilter
4         10.0        0.0         635.0     0.0     0.0   Brence Harperez

In [3]:
print(list(df_train.columns))
print(list(df_test.columns))

['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported']
['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name']

In [4]:
print("Train data shape:", df_train.shape)
print("Test data shape:", df_test.shape)

print("\nTrain data info:")
df_train.info()

print("\nTest data info:")
df_test.info()

Train data shape: (8693, 14)
Test data shape: (4277, 13)

Train data info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

Test data info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [5]:
print("\nTrain data description:")
display(df_train.describe())

print("\nTest data description:")
display(df_test.describe())

Train data description:

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

Test data description:

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,4186.000000,4195.000000,4171.000000,4179.000000,4176.000000,4197.000000
mean,28.658146,219.266269,439.484296,177.295525,303.052443,310.710031
std,14.179072,607.011289,1527.663045,560.821123,1117.186015,1246.994742
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,53.000000,78.000000,33.000000,50.000000,36.000000
max,79.000000,11567.000000,25273.000000,8292.000000,19844.000000,22272.000000

In [6]:
# Number of Unique values for each column in training data
print("Unique values in train data:")
display(df_train.nunique())

# Number of Unique values for each column in test data
print("\nUnique values in test data:")
display(df_test.nunique())

Unique values in train data:

PassengerId     8693
HomePlanet         3
CryoSleep          2
Cabin           6560
Destination        3
Age               80
VIP                2
RoomService     1273
FoodCourt       1507
ShoppingMall    1115
Spa             1327
VRDeck          1306
Name            8473
Transported        2
dtype: int64

Unique values in test data:

PassengerId     4277
HomePlanet         3
CryoSleep          2
Cabin           3265
Destination        3
Age               79
VIP                2
RoomService      842
FoodCourt        902
ShoppingMall     715
Spa              833
VRDeck           796
Name            4176
dtype: int64

In [7]:
# Extract information from Cabin column
def extract_cabin_info(df):
    cabin_info = df['Cabin'].str.split('/', expand=True)
    df['Cabin_Deck'] = cabin_info[0]
    df['Cabin_Num'] = pd.to_numeric(cabin_info[1], errors='coerce') # Convert to numeric, coercing errors to NaN
    df['Cabin_Side'] = cabin_info[2]
    return df

df_train = extract_cabin_info(df_train)
df_test = extract_cabin_info(df_test)

print(df_train[['Cabin', 'Cabin_Deck', 'Cabin_Num', 'Cabin_Side']].head())
print(df_test[['Cabin', 'Cabin_Deck', 'Cabin_Num', 'Cabin_Side']].head())

   Cabin Cabin_Deck  Cabin_Num Cabin_Side
0  B/0/P          B        0.0          P
1  F/0/S          F        0.0          S
2  A/0/S          A        0.0          S
3  A/0/S          A        0.0          S
4  F/1/S          F        1.0          S
   Cabin Cabin_Deck  Cabin_Num Cabin_Side
0  G/3/S          G        3.0          S
1  F/4/S          F        4.0          S
2  C/0/S          C        0.0          S
3  C/1/S          C        1.0          S
4  F/5/S          F        5.0          S

In [8]:
# After splitting the cabin column
# Number of Unique values for each column in training data
print("Unique values in train data:")
display(df_train.nunique())

# Number of Unique values for each column in test data
print("\nUnique values in test data:")
display(df_test.nunique())

Unique values in train data:

PassengerId     8693
HomePlanet         3
CryoSleep          2
Cabin           6560
Destination        3
Age               80
VIP                2
RoomService     1273
FoodCourt       1507
ShoppingMall    1115
Spa             1327
VRDeck          1306
Name            8473
Transported        2
Cabin_Deck         8
Cabin_Num       1817
Cabin_Side         2
dtype: int64

Unique values in test data:

PassengerId     4277
HomePlanet         3
CryoSleep          2
Cabin           3265
Destination        3
Age               79
VIP                2
RoomService      842
FoodCourt        902
ShoppingMall     715
Spa              833
VRDeck           796
Name            4176
Cabin_Deck         8
Cabin_Num       1505
Cabin_Side         2
dtype: int64

In [9]:
# Check for missing values in the training data
print("Missing values in train data:")
train_missing = df_train.isnull().sum()
train_missing_info = pd.DataFrame({'Missing Count': train_missing})
display(train_missing_info[train_missing_info['Missing Count'] > 0])

# Check for missing values in the test data
print("\nMissing values in test data:")
test_missing = df_test.isnull().sum()
test_missing_info = pd.DataFrame({'Missing Count': test_missing})
display(test_missing_info[test_missing_info['Missing Count'] > 0])

Missing values in train data:

              Missing Count
HomePlanet              201
CryoSleep               217
Cabin                   199
Destination             182
Age                     179
VIP                     203
RoomService             181
FoodCourt               183
ShoppingMall            208
Spa                     183
VRDeck                  188
Name                    200
Cabin_Deck              199
Cabin_Num               199
Cabin_Side              199

Missing values in test data:

              Missing Count
HomePlanet               87
CryoSleep                93
Cabin                   100
Destination              92
Age                      91
VIP                      93
RoomService              82
FoodCourt               106
ShoppingMall             98
Spa                     101
VRDeck                   80
Name                     94
Cabin_Deck              100
Cabin_Num               100
Cabin_Side              100